body {
    background-color: black;
    padding:2%;
    color: white;
    font-size: 25px;
    text-align: center;
}

#search {
    background-color: red;
    padding: 2.5%;
}

#newOrder {
    background-color: red;
    padding: 2.5%;
    margin-bottom: 5%;
}

#ticket {
    padding: 1%;
    margin: 1%;
}