body {
    background-color: black;
    padding:2%;
    color: white;
    font-size: 25px;
    text-align: center;
}

p {
    font-size: 2vw;
}

#search {
    background-color: red;
    padding: 2.5%;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;

}

#newOrder {
    background-color: red;
    padding: 2.5%;
    margin-bottom: 5%;
}

#ticket {
    padding: 1%;
    margin: 1%;
}

#orders {
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border:none;
    border-collapse: collapse;
}

.orderRow {
    background-color: rgb(17, 17, 17);
}

.orderCol {
    padding: 2%;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.showDetail {
    background-color: red;
    padding: 5%;
}

.orderBox {
    background-color: red;
    padding: 5%;
}

#close {
    background-color: red;
    padding: 5%;
    width: 85%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#infoo {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 5%;
}