<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Processing</title>
    <link rel="stylesheet" href="dataProcessing.css">
</head>

<body>
    <div>Data Stuff</div>
<br>
<br>
<p id="data"></p>
<!-- <p id="data"><%= data %></p> -->
<!-- <p id="orderItemsG"><%= orderItemsG %></p> -->
</body>
<script src="dataProcessing.js"></script>

</html>