<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Processing</title>
    <link rel="stylesheet" href="orderProcessing.css">
</head>

<body>
    <div id="options">
        <div id="newOrder">New Order</div>
        Ticket Number:
        <input type="number" id="ticket" name="ticket">
        <span id="search">Search</span>
    </div>
    <table id="orders">

    </table>


</body>
<script src="orderProcessing.js"></script>

</html>