<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Processing</title>
    <link rel="stylesheet" href="orderProcessing.css">
</head>

<body>
    <div id="ordering">
        <div id="options">
            <div id="newOrder">New Order</div>
            Order Number:
            <input type="number" id="ticket" name="ticket">
            <div id="search">Search</div>
        </div>
        <table id="orders">
        </table>
    </div>

    <div hidden='true' id="showingDetails">
        <div id="close"> Close</div>
        <table id="infoo"></table>
    </div>

    <div hidden="true" id="bringUpOrder">
        <div id="back"> Back</div>
        <table id="coupons"></table>
        <div id="menuItems"></div>
        <table id='cart'>
            <tr>
            <td class='cartc1'>Cart Total:</td>
            <td class='cartc2'>$<span id='cartTotal'>Error</span></td>
            <td class="cartc3">Cash:</td>
            <td class='cartc4'>$<span id='cash'>Error</span></td>
            <td rowspan="2" id='cartRight'><img id='cartImg' src='cart.png' alt='BDC Logo'><br>Submit</td>
            </tr>
            <tr>
                <td class='cartc1'>Cart Discount:</td>
                <td class='cartc2'>$<span id='cartDiscount'>Error</span></td>
                <td class="cartc3">Card:</td>
                <td class='cartc4'>$<span id='card'>Error</span></td>
                </tr>
            </table>
    </div>


</body>
<script src="orderProcessing.js"></script>

</html>