<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Processing</title>
    <link rel="stylesheet" href="orderProcessing.css">
</head>

<body>
    <div id="ordering">
        <div id="options">
            <div id="newOrder">New Order</div>
            Order Number:
            <input type="number" id="ticket" name="ticket">
            <div id="search">Search</div>
        </div>
        <table id="orders">
        </table>
    </div>

    <div hidden='true' id="showingDetails">
        <div id="close"> Close</div>
        <table id="infoo"></table>
    </div>


</body>
<script src="orderProcessing.js"></script>

</html>