<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Processing</title>
    <link rel="stylesheet" href="settings.css">
</head>

<body>
    <table id="active">
        <tr><th>Item Name</th><th>Sold Out?</th></tr>

    </table>

    <h1 id="orderItems" hidden="true"><%= orderDataG %></h1>
</body>
<script src="settings.js"></script>

</html>